name: Build with Docker

on:
  push:
    # tags:
    #   - '*'
  workflow_dispatch:

jobs:
  build_docker_image:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build using docker
      run: |
        docker run --rm -v .:/src -u root topongo/rust-android-openssl:latest cargo build --release
    - name: Create release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ github.ref_name }}
      run: |
        mkdir dist
        for i in aarch64-linux-android; do
          cp target/$i/release/bodoConnect dist/bodoConnect.$i
        done
        gh release create "$tag" ./dist/* \
            --repo="$GITHUB_REPOSITORY" \
            --title="${GITHUB_REPOSITORY#*/} ${tag#v}" \
            --generate-notes --draft

        

  # build_android_bin:
  #   
    
